---
platform: linux

inputs:
  - name: git-repo
outputs:
  - name: distribution-repository
caches:
  - path: maven
  - path: gradle
run:
  path: git-repo/ci/scripts/build-project.sh
params:
  ARTIFACTORY_USERNAME: ((java-cfenv/scs-artifactory-username))
  ARTIFACTORY_PASSWORD: ((java-cfenv/scs-artifactory-password))
