---
platform: linux

inputs:
  - name: git-repo
  - name: artifactory-repo
outputs:
  - name: version
params:
  RELEASE_TYPE: ((release-type))
  ARTIFACTORY_SERVER: ((java-cfenv/artifactory-server))
  ARTIFACTORY_USERNAME: ((java-cfenv/scs-artifactory-username))
  ARTIFACTORY_PASSWORD: ((java-cfenv/scs-artifactory-password))
run:
  path: git-repo/ci/scripts/promote.sh
