---
platform: linux

inputs:
  - name: git-repo
outputs:
  - name: stage-git-repo
  - name: distribution-repository
params:
  RELEASE_TYPE: ((release-type))
  USER_NAME: ((git-username))
  USER_EMAIL: ((git-email))
caches:
  - path: maven
  - path: gradle
run:
  path: git-repo/ci/scripts/stage.sh
